{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <div class="container-sm text-center">
        <br><br>
        <h1 class="display-3">To-Do List</h1>
        
        <p class="lead">Here you can keep track of all your tasks and have an overview of your activities.</p>
    
        <hr class="my-4">
    
        <p>You have an account?</p>

        <div class="d-flex justify-content-center">

            <a href="{{ url_for('auth.login') }}" class="btn btn-primary mx-2">Log In</a>
            <a href="{{ url_for('auth.register') }}" class="btn btn-secondary mx-2">Register</a>

        </div>
    
    </div>     
{% endblock %}